.Heading{
    font-family: "Zeyada", cursive;
    font-style: normal;
    font-size: 3rem;
  text-align: center;
  justify-content: center;
  text-wrap: wrap;
  margin-top: 2px;
}


.P{
    font-style: italic;
    font-family: "Edu AU VIC WA NT Guides", cursive;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-size: 28px;
    padding-left: 2em;
    padding-right: 2em;
}


.P2{
    font-size: 20px;
    font-family: "Nanum Pen Script", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 1.6rem;
    padding-left: 2em;
    padding-right: 2em;
}


.highlight{
    background-color: yellow;
    font-style: italic;
}


.active:hover{
    cursor: pointer;
    color: #0e3aff
}


.P3{
    font-size: 20px;
    font-family: "Nanum Pen Script", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 1.6rem;
    padding-left: 2em;
    padding-right: 2em;
}


.P4{
    font-size: 20px;
    font-family: "Nanum Pen Script", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 1.6rem;
    margin-top: 50px;
    padding-left: 2em;
    padding-right: 2em;
}

.P5{
    font-size: 20px;
    font-family: "Nanum Pen Script", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 1.6rem;
    padding-left: 2em;
    padding-right: 2em;
}








.Box{
    margin-top: 10px;
}


.BoxInner{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}


.container{
    margin-top: 8px;
    display: flexbox;
    width: 100%;
}


.click_me:hover{
    cursor: pointer;

}







button{
    padding: 5px 25px;
    font-size: 18px;
    cursor: pointer;
    border: none;
    border-radius: 50px;
    outline: none;
    background: rgb(14, 14, 14);
    opacity: 80%;
    color: rgb(248, 243, 243);
    box-shadow: 10px rgb(10, 11, 12) translateY(2.5px);
    font-family: "Nanum Pen Script", cursive;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 1.5em;
    margin-top: 5em;
}

button:active {
    box-shadow: none;
    transform: translateY(2.5px);
}
