.difficulty{
    font-family: "Archivo Narrow", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 2rem;
  }


.box1{
  display: flex;
  justify-content: center;
}






.Container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.Walk1{
  width: 250px;
  height: 380px;
  background-image: url(PIC/Entry-7Animation.png);
  background-repeat: no-repeat;
  background-size: 2500px;
  animation: Walk1 0.8s steps(8) infinite;
  transform: translateX(3rem);

}


@keyframes Walk1 {
  from{
    background-position: 0px;
  }

  To{
    background-position: -2500px;
  }

}


.h1{
  font-family: "Zeyada", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 11rem;
  transform: translateY(3rem) translateX(6rem);
}


.h2{
  font-family: "Zeyada", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 12rem;
  transform: translateY(10rem) translateX(-20rem);

}


.Sub-head{
  font-family: "Zeyada", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 4rem;
  margin-top: 10%;
  margin-left: 30%;
}


.p1{
  font-family: "Nanum Pen Script", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 1.4rem;
  padding-left: 4%;
  padding-right: 4%;
  padding-bottom: 0%;
  padding-top: 2%;
}


.p2{
  font-family: "Nanum Pen Script", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 1.4rem;
  padding-left: 4%;
  padding-right: 4%;
  margin-top: 2%;
}


.p3{
  font-family: "Nanum Pen Script", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  margin-top: 5%;
  justify-content: center;
  margin-left: 40%;
}


.container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

}


.element img{
  width: 200px;
  height: auto;
}


.element img:hover{
  cursor: pointer;
}





button{
    padding: 15px 25px;
    font-size: 18px;
    cursor: pointer;
    border: none;
    border-radius: 15px;
    outline: none;
    background: aliceblue;
    color: black;
    box-shadow: 10px rgb(10, 11, 12) translateY(2.5px);
    font-family: "Walter Turncoat", cursive;
    font-weight: 400;
    font-style: normal;
}

button:active {
    box-shadow: none;
    transform: translateY(2.5px);
}


